EXPO_PUBLIC_SUPABASE_URL=https://<project-ref>.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=
EXPO_PUBLIC_ORGANIZATION_SLUG=ayni-hospitality

EXPO_PUBLIC_SENTRY_DSN=https://test@test.ingest.us.sentry.io/123456789
